Audio Steganography/Builds/VisualStudio2019/Audio Steganography.sln
Audio Steganography/Builds/
Audio Steganography/JuceLibraryCode/
AudioPlayer/NewProject/JuceLibraryCode/
AudioPlayer/NewProject/Builds/VisualStudio2017/x64/Debug/App/WavFileP.9CD8E64F.tlog/WavFilePlayer_App.lastbuildstate
AudioPlayer/NewProject/Builds/VisualStudio2017/x64/Debug/App/WavFileP.9CD8E64F.tlog/rc.write.1.tlog
AudioPlayer/NewProject/Builds/VisualStudio2017/NewProject.sln
AudioPlayer/NewProject/Builds/
.vs/
